[buildout]
develop = .
parts = test coverage-test coverage-report python

[test]
recipe = zc.recipe.testrunner
eggs =
    zope.untrustedpython

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zope.untrustedpython
defaults = ['--coverage', '${buildout:directory}/coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport=coverage-report
arguments = ('${buildout:directory}/coverage',
             '${buildout:directory}/coverage/report')

[python]
recipe = zc.recipe.egg
eggs =
    zope.untrustedpython
interpreter = python
